.boxStyles {
    background: linear-gradient(90deg, rgba(82, 72, 87, 0.62) 30%, rgba(95, 99, 106, 0.57) 43%, rgba(92,81,81,0.8491771708683473) 73%, rgba(87, 79, 97, 0.81) 84%, rgba(85, 79, 103, 0.82) 88%, rgba(79,77,121,1) 100%, rgba(252,176,69,1) 100%);
    border: 2px solid #b5a7abe0;
    font-weight: 500;
    margin: 20px;
}
body{
    background: radial-gradient(circle, rgba(155,133,148,1) 0%, rgba(162,138,150,1) 16%, rgba(161,158,142,1) 71%, rgba(179,150,156,1) 100%);
    color:white;
}

h2 {
    text-align: center;
    color: #f1d06c;
}

.hyperLink {
    border: 2px solid #7b797a;
    border-radius: 2%;
    color: white !important;
    justify-content: center;
    margin: 20px;
    background: radial-gradient(circle, rgb(88, 77, 85) 0%, rgb(84, 84, 84) 16%, rgb(21, 19, 12) 71%, rgb(138, 127, 129) 100%);
}

.hyperLink >h4 > a {
    color: white !important;
}

.btns {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.btnStyles:hover {
    color: white;
    background: gray;
}

.btnStyles{
    margin-bottom: 2vh; 
    color: white; 
    background: #2f1648ba; 
    font-weight: 600;
    border: 1px solid #ada7a7;
}

@media only screen and (max-width: 600px) {
    h2 {
        font-size: x-large;
    }
}



.progress-bar-striped {
    overflow: hidden;
    height: 28px;
    margin-bottom: 20px;
    background-color: #5a5574;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    margin: 20px;
}

.progress-bar-striped > div {
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-size: 40px 40px;
    float: left;
    width: 0%;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #ffffff;
    text-align: center;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    -webkit-transition: width 3s ease;
    -moz-transition: width 3s ease;
    -o-transition: width 3s ease;
    transition: width 3s ease;
    animation: progress-bar-stripes 2s linear infinite;
    background-color: #288ade;
}

.progress-bar-striped p {
    margin-top:4px;
}

@keyframes progress-bar-stripes {
    0% {
        background-position: 40px 0;
    }
    100% {
        background-position: 0 0;
    }
}

.hidden {
    display: none;
}


/*   upload progress bar css*/
.upload-progress-bar{
    border:2px solid #d5d6d675;
    margin-top: 6px;
    margin-left: 25px;
    margin-right: 25px;
}
.progress-bar-fill{
    height: 100%;
    width: 1%;
    background: rgba(3, 70, 117, 0.52);
    display: flex;
    color: #ffffff;
    align-items: center;
    transition: width 0.25s;
}

.progress-bar-text{
    margin-left:10px;
    text-align: center;
    font-weight: bold;
}